@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --dark-violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}
body {
  font-family: "karla", sans-serif;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: "DM Serif Display", sans-serif, "karla";
}
h1,
h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  position: relative;
  margin: 0;
  padding-top: 50px;
}
h3 {
  font-size: 2rem;
}
p {
  opacity: 0.8;
}
.m {
  margin-bottom: 30px;
}
.line-top::before {
  content: "";
  height: 1px;
  width: 150px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.line-violet::before {
  background-color: rgb(191, 110, 223);
}
.line-violet {
  margin-bottom: 80px;
}
.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex > div * {
  flex: 1;
}
.align-start {
  align-items: flex-start;
}
nav {
  background-color: white;
}
.nav-hov {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--Dark-Grayish-Violet);
  border: 2px solid var(--dark-violet);
  padding: 15px 25px;
}
.nav-hov:hover {
  color: #fff;
  background-color: var(--Very-Dark-Violet);
}
.nav-a:hover {
  color: var(--dark-violet);
}

.nav-ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.nav-li {
  margin-left: 30px;
}

.nav-a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--Dark-Grayish-Violet);
}

.purple-background {
  background-color: var(--dark-violet);
  color: #fff;
  padding: 50px 0;
  position: relative;
  margin-bottom: 250px;
}
button {
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  border: 2px solid white;
  padding: 15px 25px;
  background-color: transparent;
  position: relative;
}
button:hover {
  background-color: rgb(255, 255, 255);
  color: var(--Very-Dark-Violet);
}

.purple-background::after {
  content: "";
  background-image: url(./images/bg-pattern-intro-right-desktop.svg);
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: top right;
  height: 100%;
  width: 100%;
}
.purple-background::before {
  content: "";
  background-image: url(./images/bg-pattern-intro-left-desktop.svg);
  position: absolute;
  bottom: -60%;
  right: 0;
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 100%;
  width: 100%;
}
.img {
  margin-bottom: -250px;
}

.bg-purpel {
  background-color: var(--dark-violet);
  padding: 40px;
  position: relative;
  margin: 100px auto;
}
.bg-purpel-h2 {
  color: #fff;
  padding: 0;
  width: 90%;
  font-size: 3rem;
}
.bg-purpel::before {
  content: "";
  background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
  position: absolute;
  top: 0;
  right: 0;

  background-repeat: no-repeat;
  background-position: top right;
  height: 100%;
  width: 100%;
}

.tital {
  margin-top: 80px;
}
footer {
  background-color: var(--Very-Light-Gray);
  position: relative;
  padding: 30px 0;
}
.footer-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  z-index: 2;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(./images/bg-pattern-footer-desktop.svg);
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: top left;
  height: 100%;
  width: 100%;
}

.footer-h4 {
  text-transform: uppercase;
  color: var(--Dark-Grayish-Violet);
}
footer ul {
  padding: 0;
  list-style-type: none;
}

footer li {
  margin-bottom: 10px;
}
footer li a {
  color: var(--dark-violet);
  text-decoration: none;
  text-transform: uppercase;
}
footer li a:hover {
  text-decoration: underline;
}
.icons:hover {
  fill: var(--Very-Dark-Violet);
}
.icons {
  fill: gray;
}

.position {
  margin-left: 15px;
}

.border-bottom {
  border-bottom: 1px solid var(--Grayish-Blue);
  margin-bottom: 30px;
}
.attribution {
  text-align: center;
  background-color: var(--Very-Light-Gray);
}
